<li>
	{{name}}
	<button class="change-devour" data-id="{{id}}" data-devoured="{{devoured }}">
		{{#if devoured}}YUM!{{else}}EATME!{{/if}}
	</button>

	<button class = "delete-burger" data-id = "{{id}}" data-devoured = "{{devoured}}">
		 {{#if devoured}}GROSS!{{else}}NEVERMIND!{{/if}}
	</button> 

	
</li>


	

	